
@rendermode InteractiveServer

<style>
    table {
        
    }
    td {
        width: 60px;
        height: 60px;
        border: solid;
    }
    input {
        width: 50px;
    }
</style>

<table>
    <tbody>
    @for(int i = 0; i < @cellCount; i++){
        <tr>
            @for(int j = 0; j < @cellCount; j++) {
                <td><input type="text" value=@sudokuMatrix[i,j] /></td>
            }
        </tr>
    }
    </tbody>
</table>



@code {
    private int[,] sudokuMatrix;
    private int cellCount;
    protected override void OnInitialized() {
        cellCount = 9;
        sudokuMatrix = new int[cellCount, cellCount];
    }
    

}